
body {
	background-image: url("img/tweed.png");
	background-repeat: repeat;
	background-color: #404040;
	color: #ECECEC;
}

.well {
	color: #404040;
}

.radar {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 618px;
	height: 464px;
}

.compass-container {
	position: absolute;
	top: 496px;
	left: 16px;
	width: 201px;
	height: 256px;
	background-color: #0F0F0F;
}

.compass-container-table {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 201px;
	height: 256px;
	text-align: center;
}

.logo-and-credits-container {
	position: absolute;
	top: 496px;
	left: 225px;
	width: 200px;
	height: 256px;
	background-color: #FFF000;
}

.current-status-container {
	position: absolute;
	top: 496px;
	left: 433px;
	width: 200px;
	height: 256px;
	background-color: #0FFF00;
}

.forecast-item {
	position: absolute;
	background-color: #0F0F0F;
}
