body {
	background-image: url("img/tweed.png");
	background-repeat: repeat;
	background-color: #404040;
	color: #ECECEC;
}

.well {
	color: #404040;
}

body > div.container {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 40px;
}
