<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Weather-o-Matic</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<link href="css/metar-o-matic.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<![endif]-->

		<!-- Fav and touch icons -->
        <link rel="shortcut icon" href="ico/favicon.png">
	</head>

	<body>
		<div class="radar">
			<img src="http://radblast-aws.wunderground.com/cgi-bin/radar/WUNIDS_map?station=IND">
		</div>
		<div class="compass-logocredits-status-container">
			<div class="compass-container">
			</div>
			<div class="logo-and-credits-container">
			</div>
			<div class="current-status-container">
			</div>
		</div>
		<div class="forecast-container">
			<% for i in 0..@forecast.count %>
			   <% cur_item = @forecast[i] %>
			   <% top_padding = %>
				<div class="forecast-item-<%= i %>"
				     style="top: <%= top_padding %>">
				   <%= cur_item[:dayname] %>
			   </div>
			<% end %>
		</div>
		<!-- Le javascript
			 ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/bootstrap.js"></script>
	</body>
</html>
