<!-- see github.com/WLCSC/rss-o-matic for example -->
<html>
	<head>
	</head>
	<body>
		<table>
			<tr>
				<td>
					<img src="http://radblast-aws.wunderground.com/cgi-bin/radar/WUNIDS_map?station=IND" />
				</td>
			</tr>
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<img id="compass_back" src="compass-back.png" />
								<img id="compass_needle" src="compass-needle.png" />
							</td>
							<td>
								<!-- WL logo -->
							</td>
							<td>
								<!-- thermometer -->
							</td>
						</tr>
						<tr>
							<td>
								<!-- wind text -->
							</td>
							<td>
								<!-- KLAF -->
							</td>
							<td>
								<!-- temperature text -->
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>
					<!-- day 1 -->
				</td>
			</tr>
			<tr>
				<td>
					<!-- day 2 -->
				</td>
			</tr>
			<tr>
				<td>
					<!-- day 3 -->
				</td>
			</tr>
			<tr>
				<td>
					<!-- day 4 -->
				</td>
			</tr>
			<tr>
				<td>
					<!-- day 5 -->
				</td>
			</tr>
			<tr>
				<td>
					<!-- day 6 -->
				</td>
			</tr>
			<tr>
				<td>
					<!-- day 7 -->
				</td>
			</tr>															
		</table>
	</body>
</html>
