body {
	background-image: url("../img/tweed.png");
	background-repeat: repeat;
	background-color: #151615;
	color: #ffffff;

	font-family: serif;
	
	line-height: 16px;
}

.rss-items-container {
	margin-left: 16px;
	margin-right: 16px;
}

.rss-item-container {
	background-color: #202020;

	margin-top: 8px;
	margin-bottom: 8px;

	width: 992px;
}

.rss-item-title-container {
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
}

.rss-item-description-container {
	font-size: 24px;
	line-height: 28px;
	
	padding: 8px 8px 8px 8px;

	text-align: justify;
}

.rss-title-container {
	width: 1024px;
	height: 64px;

	text-align: center;

	background-color: rgba(255, 0, 0, 0.5);
	display: table;
}

.rss-title-text {
	vertical-align: centered;

	font-size: 48px;
	font-weight: bold;

	display: table-cell;
	vertical-align: middle;
}

.main-container {
	width: 1024px;
	height: 768px;

	/* for contain-ness purposes */
	/*background-color: rgba(255, 0, 255, 0.5);*/
}
